.build-stage/
romfs/gfx/
build/
dumps/

3hstool/3hstool
*.smdh
*.3dsx
*.elf
*.cia
*.o

tags

release/
devids.json

Missing_characters.txt
scripts/extract_seeddb
scripts/seeddb*
scripts/
TODO

# VSCode
.vscode/
*.lst
